
    <!-- .tp-wrapper start -->
    <div class="tp-wrapper no-bottom-margin">
        <!-- .tp-banner-container start -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- slide 2 start -->
                    <li data-transition="fade" data-slotamount="15" data-masterspeed="1500">
                        <!-- main image -->
                        <img src="{{ asset('bundles/app/img/slider/slide-1-1.jpg') }}" alt="slidebg3" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                        <!-- layer 1 -->
                        <div class="tp-caption regular lft"
                             data-x="220"
                             data-y="55"
                             data-speed="600"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="300">Fully <b>Responsive</b> theme with <b>Retina ready</b> graphics.
                        </div>

                        <!-- layer 2 -->
                        <div class="tp-caption regular sfl"
                             data-x="200"
                             data-y="120"
                             data-speed="600"
                             data-start="1500"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><img src='{{ asset('bundles/app/img/slider/slide-1-2.png') }}' alt='mobile devices'/>
                        </div>

                        <!-- layer 3 -->
                        <div class="tp-caption list-right sfl"
                             data-x="160"
                             data-y="180"
                             data-speed="600"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Clean professional design</p>
                        </div>

                        <!-- layer 4 -->
                        <div class="tp-caption list-right sfl"
                             data-x="70"
                             data-y="240"
                             data-speed="600"
                             data-start="2300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Beautiful parallax layouts</p>
                        </div>

                        <!-- layer 3 -->
                        <div class="tp-caption list-right sfl"
                             data-x="60"
                             data-y="300"
                             data-speed="600"
                             data-start="2600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Retina ready</p>
                        </div>

                        <!-- layer 4 -->
                        <div class="tp-caption list-left sfr"
                             data-x="900"
                             data-y="180"
                             data-speed="600"
                             data-start="2900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Rocket solid code</p>
                        </div>

                        <!-- layer 5 -->
                        <div class="tp-caption list-left sfr"
                             data-x="870"
                             data-y="240"
                             data-speed="600"
                             data-start="3200"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Fully responsive design</p>
                        </div>

                        <!-- layer 6 -->
                        <div class="tp-caption list-left sfr"
                             data-x="840"
                             data-y="300"
                             data-speed="600"
                             data-start="3500"
                             data-easing="Back.easeOut"
                             data-endspeed="500"><p>Crossbrowser compatible</p>
                        </div>
                    </li>

                    <!-- slide 2 start -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- main image -->
                        <img src="{{ asset('bundles/app/img/slider/slide-3-1.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                        <!-- layer 1 -->
                        <div class="tp-caption background lft"
                             data-x="70"
                             data-y="140"
                             data-speed="600"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="300">Fully <b>Responsive</b>. Perfectly <b>Clean</b>. Super <b>Powerful</b>. Simply <b>Beautiful</b>.
                        </div>

                        <!-- layer 2 -->
                        <div class="tp-caption background paragraph lfb"
                             data-x="370"
                             data-y="220"
                             data-speed="600"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="500">Meet Elvyre, clean corporate template <br />with beautiful design and extensive powerful options.
                        </div>
                    </li>

                    <!-- slide 3 start -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- main image -->
                        <img src="{{ asset('bundles/app/img/slider/slide-2-1.jpg') }}" alt="slidebg2" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                        <!-- layer 1 -->
                        <div class="tp-caption regular lft"
                             data-x="0"
                             data-y="80"
                             data-speed="600"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><b>Clean</b> Design with <b>Powerful</b> Code.
                        </div>

                        <!-- layer 2 -->
                        <div class="tp-caption regular small sfl"
                             data-x="405"
                             data-y="130"
                             data-speed="600"
                             data-start="1500"
                             data-easing="Back.easeOut"
                             data-endspeed="300">That's Elvyre.
                        </div>

                        <!-- layer 3 -->
                        <div class="tp-caption sfr"
                             data-x="520"
                             data-y="45"
                             data-speed="600"
                             data-start="1500"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><img src='{{ asset('bundles/app/img/slider/slide-2-2.png') }}' alt='slider image'/>
                        </div>

                        <!-- layer 4 -->
                        <div class="tp-caption list-left sfl"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="2200"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><p>Retina ready graphics</p>
                        </div>

                        <!-- layer 5 -->
                        <div class="tp-caption list-left sfl"
                             data-x="0"
                             data-y="230"
                             data-speed="600"
                             data-start="2500"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><p>Clean professional design</p>
                        </div>

                        <!-- layer 6 -->
                        <div class="tp-caption list-left sfl"
                             data-x="0"
                             data-y="290"
                             data-speed="600"
                             data-start="2700"
                             data-easing="Back.easeOut"
                             data-endspeed="300"><p>Beautiful layouts with parallax effect</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner end -->
    </div><!-- .tp-wrapper end -->

    <!-- .page-content start -->
    <section class="page-content background-black">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <article class="grid_12">
                    <div class="triggerAnimation animated" data-animate="fadeInUp">
                        <div class="note no-bottom-margin">
                            <h4>Welcome to <b>Elvyre</b>. All you'll ever need to build incredible website that stands out from the crowd.</h4>
                            <a class='btn-medium empty white' href='#'>BUY THEME</a>
                        </div>
                    </div><!-- .triggerAnimation.animated end -->
                </article><!-- .grid_12 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content end -->

    <!-- .page-content start -->
    <section class="page-content parallax parallax-1" data-stellar-background-ratio="0.5">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <article class="grid_12">
                    <div class="triggerAnimation animated" data-animate="fadeInLeft">
                        <ul id='services-carousel' class='carousel-li'>
                            <li class="service-box-1">
                                <div class="icon icon-screen"></div>

                                <a href='#'>
                                    <h5>Multipurpose &#38; responsive</h5>
                                </a>

                                <p>
                                    Elvyre is modern, multipurpose and fully
                                    responsive HTML template which suits all
                                    layout purposes. It is fully responsive and
                                    will adapt perfectly on any mobile device screen.
                                </p>
                            </li>

                            <li class="service-box-1">
                                <div class="icon icon-leaf"></div>

                                <a href='#'>
                                    <h5>Clean &#38; powerful code</h5>
                                </a>

                                <p>
                                    We pay attention to details and one of theme
                                    is clean code, Elvyre is built on latest
                                    technologies HTML5 and CSS3 with beautiful
                                    parallax effects.
                                </p>
                            </li>

                            <li class="service-box-1">
                                <div class="icon icon-heart-2"></div>

                                <a href='#'>
                                    <h5>Dedicated support</h5>
                                </a>

                                <p>
                                    We provide support for all themes so please
                                    don’t hesitate to contact us if you have any
                                    question, problem or maybe suggestion. We’ll
                                    be glad to hear from you.
                                </p>
                            </li>

                            <li class="service-box-1">
                                <div class="icon icon-eye-open"></div>

                                <a href='#'>
                                    <h5>Retina ready</h5>
                                </a>

                                <p>
                                    Elvyre is made to be retina ready. Most
                                    of the icons are made with icons font and
                                    other used graphics and images are prepared to
                                    look pixel perfect on sharp retina displays.
                                </p>
                            </li>

                            <li class="service-box-1">
                                <div class="icon icon-pencil"></div>

                                <a href='#'>
                                    <h5>Unlimited color options</h5>
                                </a>

                                <p>
                                    Every company has it's own brand color, so we
                                    made css file in which are all the color
                                    style elements used in this template. So
                                    changing color is really easy.
                                </p>
                            </li>

                            <li class="service-box-1">
                                <div class="icon icon-star-empty"></div>

                                <a href='#'>
                                    <h5>Extensive shortcodes</h5>
                                </a>

                                <p>
                                    There are really a lot of content elements
                                    included with this template. Vertical and
                                    horizontal tabs, accordions, promotional
                                    boxes and much, much more.
                                </p>
                            </li>
                        </ul><!-- #services-carousel end -->

                        <div class="clearfix"></div>
                        <ul class="carousel-nav">
                            <li>
                                <a class="c_prev" href="#"></a>
                            </li>
                            <li>
                                <a class="c_next" href="#"></a>
                            </li>
                        </ul>
                    </div><!-- .triggerAnimation animated end -->
                </article><!-- .grid_12 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content end -->

    <section class='page-content'>
        <div class="container">
            <div class="row">
                <article class="grid_3">
                    <img class="triggerAnimation animated" src="{{ asset('bundles/app/img/pictures/woman-ceo.png') }}" alt="ceo" data-animate="fadeInLeft"/>
                </article>

                <article class="grid_6">
                    <div class="triggerAnimation animated" data-animate="fadeInLeft">
                        <!-- .heading-bordered start -->
                        <section class="heading-bordered">
                            <h3>What we <b>Offer</b></h3>
                        </section><!-- .heading-bordered end -->

                        <ul class="services-overview">
                            <li>
                                <h5>Pixel perfect design with responsive touch</h5>
                                <p>
                                    Meet Elvyre, pixel perfect responsive
                                    template, excellent choice for
                                    professional business websites. Attract
                                    your visitors with clean and powerful
                                    look.
                                </p>
                            </li>

                            <li>
                                <h5>Fully dedicated 24/7 customer support</h5>
                                <p>
                                    With great design must come even better
                                    support. We are here for you 24/7 so
                                    please don’t hesitate to contact us if
                                    you have any questions or sudgestions.
                                </p>
                            </li>

                            <li>
                                <h5>Clean coded theme with retina ready graphics</h5>
                                <p>
                                    Make your website fly with Elvyre. Clean
                                    code, which is very easy to customize
                                    and retina ready graphics will givu
                                    you a whole new perspective of web
                                    development.
                                </p>
                            </li>
                        </ul>
                    </div><!-- .triggeranimation.animated end -->
                </article><!-- .grid_6 -->

                <article class='grid_3'>
                    <div class="triggerAnimation animated" data-animate='fadeInRight'>
                        <!-- .heading-bordered start -->
                        <section class="heading-bordered">
                            <h3>Some <b>stats</b></h3>
                        </section><!-- .heading-bordered end -->

                        <ul class='numbers-counter'>
                            <li>
                                <span class='timer number' data-to='2290' data-speed='2000'>2290</span>
                                <p>Projects</p>
                            </li>

                            <li>
                                <span class='timer number' data-to='1578' data-speed='2000'>1578</span>
                                <p>Clients</p>
                            </li>

                            <li>
                                <span class='timer number' data-to='879' data-speed='2000'>879</span>
                                <p>Partners</p>
                            </li>

                            <li>
                                <span class='timer number' data-to='120' data-speed='2000'>120</span>
                                <p>Countries</p>
                            </li>
                        </ul>
                    </div><!-- .triggerAnimation.animated end -->
                </article><!-- .grid_3 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content end -->

    <!-- .page-content.parallax start -->
    <section class="page-content parallax parallax-2">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <section class="grid_12">
                    <section class="heading-centered triggerAnimation animated" data-animate="bounceIn">
                        <h2>Our <b>Development</b> process</h2>
                        <p>Think of something unique, usable, clean coded, with subtle but effective transitions and great support. That’s the way we do it.</p>
                    </section>
                </section>
            </div><!-- .row end -->

            <!-- .row start -->
            <div class="row">
                <!-- .grid_4 start -->
                <article class="grid_4">
                    <div class="triggerAnimation animated" data-animate="fadeInLeft">
                        <section class="process-box">
                            <div class="img-container">
                                <img src="{{ asset('bundles/app/img/pictures/development-1.png') }}" alt="creative thinking"/>
                            </div>

                            <h5>Creative thinking</h5>
                            <p>
                                Sometimes you just need to think out of the box.
                                We provide new ways of displaying your content.
                            </p>
                        </section>
                    </div><!-- .triggerAnimation animated end -->
                </article><!-- .GRID_4 END -->

                <!-- .grid_4 start -->
                <article class="grid_4">
                    <div class="triggerAnimation animated" data-animate="fadeInUp">
                        <section class="process-box">
                            <div class="img-container">
                                <img src="{{ asset('bundles/app/img/pictures/development-2.png') }}" alt="creative thinking"/>
                            </div>

                            <h5>Put it in Action</h5>
                            <p>
                                Responsive layouts, clean and user-friendly
                                code, really easy to customize to fit your needs.
                            </p>
                        </section>
                    </div><!-- .triggerAnimation animated end -->
                </article><!-- .GRID_4 END -->

                <!-- .grid_4 start -->
                <article class="grid_4">
                    <div class="triggerAnimation animated" data-animate="fadeInRight">
                        <section class="process-box">
                            <div class="img-container">
                                <img src="{{ asset('bundles/app/img/pictures/development-3.png') }}" alt="creative thinking"/>
                            </div>

                            <h5>Provide Best Support</h5>
                            <p>
                                Great product must come with great support,
                                don’t you think? We are here for you 24/7 so drop us a note.
                            </p>
                        </section>
                    </div><!-- .triggerAnimation animated end -->
                </article><!-- .GRID_4 END -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content.parallax.parallax-2 end -->

    <section class="page-content">
    <div class="container">
    <!-- .row start -->
    <div class="row">
        <article class="grid_12">
            <section class="heading-centered triggerAnimation animated" data-animate="bounceIn">
                <h2>Latest <b>portfolio</b> projects</h2>
                <p>Check our latest portfolio projects. Sure you'll find something interesting.</p>
            </section>
        </article><!-- .grid_12 end -->

    </div><!-- .roe end -->

    <!-- .row start -->
    <div class='row'>
        <article class="grid_12">
            <article class="portfolio-carousel triggerAnimation animated" data-animate="fadeInUp">
                <ul id="portfolio-carousel" class="carousel-li">
                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-1.jpg') }}" alt="portfolio image"/>
                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-1.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">Running notes</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://www.pixel-industry.com/" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->

                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-2.jpg') }}" alt="portfolio image"/>

                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-2.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">On the top of the world</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://themeforest.net/item/elvyre-professional-corporate-psd-template/6218124" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->

                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-3.jpg') }}" alt="portfolio image"/>

                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-3.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">Parallel universe</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://themeforest.net/item/metropolis-clean-multipurpose-wordpress-theme/6050528" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->

                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-4.jpg') }}" alt="portfolio image"/>

                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-4.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">Grow creativiry</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://themeforest.net/item/thalassa-extensive-html5-template/6012626" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->

                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-5.jpg') }}" alt="portfolio image"/>

                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-5.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">Inner child</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://themeforest.net/item/cleanbiz-multipurpose-wordpress-theme/4935456" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->

                    <li class="isotope-item">

                        <figure class="portfolio-img-container">
                            <div class="portfolio-img">
                                <img src="{{ asset('bundles/app/img/portfolio/cols/portfolio-6.jpg') }}" alt="portfolio image"/>

                                <div class="portfolio-img-hover">
                                    <div class="mask"></div>

                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="{{ asset('bundles/app/img/portfolio/cols/portfolio-6.jpg') }}"
                                               data-gal="prettyPhoto[pp_gallery]" class="icon-expand-2"></a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="marketing_solution.html" class="icon-redo"></a>
                                        </li>
                                    </ul>
                                </div><!-- .portfolio-img-hover end -->

                            </div>

                            <figcaption>
                                <a class="title" href="marketing_solution.html">Fresh ideas</a>
                                <div class="sharre-facebook portfolio-item-like icon-heart" data-url="http://themeforest.net/item/alexx-multipurpose-wordpress-theme/3951507" data-text="Just an example of sharing your portfolio image"></div>
                            </figcaption>
                        </figure>
                    </li><!-- .isotope-item end -->
                </ul>

                <div class="clearfix"></div>
                <ul class="carousel-nav">
                    <li>
                        <a class="c_prev_2" href="#"></a>
                    </li>
                    <li>
                        <a class="c_next_2" href="#"></a>
                    </li>
                </ul>
            </article><!-- .portfolio-carousel end -->
        </article><!-- .grid_12 end -->
    </div><!-- .row end -->
    </div><!-- .container end -->
    </section><!-- .page-content end -->

    <!-- .page-content.parallax start -->
    <section class="page-content parallax parallax-4">
        <!-- .container start -->
        <div class="container">
            <div class="row">
                <article class="grid_8">
                    <div class="triggerAnimation animated" data-animate='fadeInDown'>
                        <h1>Responsive and <b>retina ready</b> with beautiful <b>parallax</b> sections.</h1>

                        <p>
                            We proudly present you Elvyre, beautiful designed and clean coded HTML business template. Make
                            outstanding layouts with Elvyre that will attract your visitors eye. Elvyre comes with retina ready
                            graphics and fully responsive design, so your website will look outstanding both on
                            mobile and high resolution retina displays.
                        </p>

                        <br />

                        <a class='btn-medium empty' href='#'>BUY THEME</a>
                    </div><!-- .triggerAnimation.animated end -->
                </article><!-- .grid_8 end -->

                <article class="grid_4">
                    <div class="triggerAnimation animated" data-animate='fadeInUp'>
                        <img src='{{ asset('bundles/app/img/pictures/services-retina.png') }}' alt='iphone'/>
                    </div><!-- .triggerAnimation.animated end -->
                </article><!-- .grid_4 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content.parallax end -->
    <script>
        /* <![CDATA[ */

        jQuery(document).ready(function($) {
            'use strict';

            //REVOLUTION SLIDE
            var revapi;
            revapi = jQuery('.tp-banner').revolution(
                    {
                        delay: 5000,
                        startwidth: 1170,
                        startheight: 500,
                        hideThumbs: 10,
                        fullWidth: "on",
                        forceFullWidth: "on",
                        navigationType: "none" // bullet, thumb, none
                    });

            $('.numbers-counter').waypoint(function() {
                        // NUMBERS COUNTER START
                        $('.numbers').data('countToOptions', {
                            formatter: function(value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            }
                        });
                        // start timer
                        $('.timer').each(count);

                        function count(options) {
                            var $this = $(this);
                            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                            $this.countTo(options);
                        } // NUMBERS COUNTER END
                    },
                    {offset: '70%'}
            );

            // PRETTYPHOTO LIGHTBOX START
            if (jQuery().prettyPhoto) {
                piPrettyphoto();
            }
            function piPrettyphoto() {
                $("a[data-gal^='prettyPhoto']").prettyPhoto({social_tools: false});
            }// PRETTYPHOTO LIGHTBOX END

            //PORTFOLIO CAROUSEL
            //	Responsive layout, resizing the items
            $('#portfolio-carousel').carouFredSel({
                responsive: true,
                width: '100%',
                height: '100%',
                auto: false,
                scroll: 1,
                prev: '.c_prev_2',
                next: '.c_next_2',
                items: {
                    width: 400,
                    height: '100%',
                    visible: {
                        min: 1,
                        max: 4
                    }
                }
            });

            //  Testimonial carousel Responsive layout, resizing the items
            $('#services-carousel').carouFredSel({
                responsive: true,
                width: '100%',
                auto: false,
                scroll: 1,
                prev: '.c_prev',
                next: '.c_next',
                swipe: {
                    onMouse: true,
                    onTouch: true
                },
                items: {
                    width: 370,
                    height: 'auto',
                    visible: {
                        min: 1,
                        max: 3
                    }
                }
            });

            //  Responsive layout, resizing the items
            $('#testimonial-carousel').carouFredSel({
                responsive: true,
                width: '100%',
                auto: true,
                scroll: 1,
                swipe: {
                    onMouse: true,
                    onTouch: true
                },
                items: {
                    width: 370,
                    height: 'auto',
                    visible: {
                        min: 1,
                        max: 1
                    }
                }
            });
        });

        /* ]]> */
    </script>